.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment directories
.env
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
memgpt_venv/CMakeLists.txt
memgpt_venv/Include/h3/h3api.h
memgpt_venv/LICENSE
memgpt_venv/makefile
memgpt_venv/pyproject.toml
memgpt_venv/pyvenv.cfg
memgpt_venv/readme.md
memgpt_venv/requirements.in
memgpt_venv/Scripts/activate
memgpt_venv/Scripts/activate.bat
memgpt_venv/Scripts/Activate.ps1
memgpt_venv/Scripts/deactivate.bat
memgpt_venv/Scripts/dotenv.exe
memgpt_venv/Scripts/f2py.exe
memgpt_venv/Scripts/jsonlint-script.py
memgpt_venv/Scripts/jsonlint.exe
memgpt_venv/Scripts/markdown-it.exe
memgpt_venv/Scripts/normalizer.exe
memgpt_venv/Scripts/openai.exe
memgpt_venv/Scripts/pip.exe
memgpt_venv/Scripts/pip3.10.exe
memgpt_venv/Scripts/pip3.exe
memgpt_venv/Scripts/pygmentize.exe
memgpt_venv/Scripts/python.exe
memgpt_venv/Scripts/pythonw.exe
memgpt_venv/Scripts/timezonefinder.exe
memgpt_venv/Scripts/tqdm.exe
memgpt_venv/setup.py
memgpt_venv/src/h3lib/cmake/Config.cmake.in
memgpt_venv/src/h3lib/cmake/TestWrapValgrind.cmake
memgpt_venv/src/h3lib/cmake/toolchain.cmake
memgpt_venv/src/h3lib/CMakeLists.txt
memgpt_venv/src/h3lib/examples/CMakeLists.txt
memgpt_venv/src/h3lib/examples/compact.c
memgpt_venv/src/h3lib/examples/distance.c
memgpt_venv/src/h3lib/examples/edge.c
memgpt_venv/src/h3lib/examples/index.c
memgpt_venv/src/h3lib/examples/neighbors.c
memgpt_venv/src/h3lib/LICENSE
memgpt_venv/src/h3lib/README.md
memgpt_venv/src/h3lib/scripts/binding_functions.ps1
memgpt_venv/src/h3lib/scripts/binding_functions.sh
memgpt_venv/src/h3lib/scripts/coverage.sh.in
memgpt_venv/src/h3lib/scripts/publish_website.sh
memgpt_venv/src/h3lib/scripts/update_version.sh
memgpt_venv/src/h3lib/src/apps/applib/include/args.h
memgpt_venv/src/h3lib/src/apps/applib/include/benchmark.h
memgpt_venv/src/h3lib/src/apps/applib/include/kml.h
memgpt_venv/src/h3lib/src/apps/applib/include/test.h
memgpt_venv/src/h3lib/src/apps/applib/include/utility.h
memgpt_venv/src/h3lib/src/apps/benchmarks/benchmarkH3Api.c
memgpt_venv/src/h3lib/src/apps/benchmarks/benchmarkH3Line.c
memgpt_venv/src/h3lib/src/apps/benchmarks/benchmarkH3SetToLinkedGeo.c
memgpt_venv/src/h3lib/src/apps/benchmarks/benchmarkH3UniEdge.c
memgpt_venv/src/h3lib/src/apps/benchmarks/benchmarkKRing.c
memgpt_venv/src/h3lib/src/apps/benchmarks/benchmarkPolyfill.c
memgpt_venv/src/h3lib/src/apps/benchmarks/benchmarkPolygon.c
memgpt_venv/src/h3lib/src/apps/filters/geoToH3.c
memgpt_venv/src/h3lib/src/apps/filters/h3ToComponents.c
memgpt_venv/src/h3lib/src/apps/filters/h3ToGeo.c
memgpt_venv/src/h3lib/src/apps/filters/h3ToGeoBoundary.c
memgpt_venv/src/h3lib/src/apps/filters/h3ToLocalIj.c
memgpt_venv/src/h3lib/src/apps/filters/hexRange.c
memgpt_venv/src/h3lib/src/apps/filters/kRing.c
memgpt_venv/src/h3lib/src/apps/filters/localIjToH3.c
memgpt_venv/src/h3lib/src/apps/miscapps/generateBaseCellNeighbors.c
memgpt_venv/src/h3lib/src/apps/miscapps/generateFaceCenterPoint.c
memgpt_venv/src/h3lib/src/apps/miscapps/generateNumHexagons.c
memgpt_venv/src/h3lib/src/apps/miscapps/generatePentagonDirectionFaces.c
memgpt_venv/src/h3lib/src/apps/miscapps/h3ToGeoBoundaryHier.c
memgpt_venv/src/h3lib/src/apps/miscapps/h3ToGeoHier.c
memgpt_venv/src/h3lib/src/apps/miscapps/h3ToHier.c
memgpt_venv/src/h3lib/src/apps/testapps/mkRandGeo.c
memgpt_venv/src/h3lib/src/apps/testapps/mkRandGeoBoundary.c
memgpt_venv/src/h3lib/src/apps/testapps/README.txt
memgpt_venv/src/h3lib/src/apps/testapps/testBaseCells.c
memgpt_venv/src/h3lib/src/apps/testapps/testBBox.c
memgpt_venv/src/h3lib/src/apps/testapps/testCompact.c
memgpt_venv/src/h3lib/src/apps/testapps/testCoordIj.c
memgpt_venv/src/h3lib/src/apps/testapps/testCoordIjk.c
memgpt_venv/src/h3lib/src/apps/testapps/testGeoCoord.c
memgpt_venv/src/h3lib/src/apps/testapps/testGeoToH3.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3Api.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3CellArea.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3CellAreaExhaustive.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3Distance.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3DistanceExhaustive.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3GetFaces.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3Index.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3Line.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3LineExhaustive.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3Memory.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3NeighborRotations.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3SetToLinkedGeo.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3SetToVertexGraph.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3ToCenterChild.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3ToChildren.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3ToGeo.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3ToGeoBoundary.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3ToLocalIj.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3ToLocalIjExhaustive.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3ToParent.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3UniEdge.c
memgpt_venv/src/h3lib/src/apps/testapps/testH3UniEdgeExhaustive.c
memgpt_venv/src/h3lib/src/apps/testapps/testHexRanges.c
memgpt_venv/src/h3lib/src/apps/testapps/testHexRing.c
memgpt_venv/src/h3lib/src/apps/testapps/testKRing.c
memgpt_venv/src/h3lib/src/apps/testapps/testLinkedGeo.c
memgpt_venv/src/h3lib/src/apps/testapps/testMaxH3ToChildrenSize.c
memgpt_venv/src/h3lib/src/apps/testapps/testPentagonIndexes.c
memgpt_venv/src/h3lib/src/apps/testapps/testPolyfill.c
memgpt_venv/src/h3lib/src/apps/testapps/testPolyfillReported.c
memgpt_venv/src/h3lib/src/apps/testapps/testPolygon.c
memgpt_venv/src/h3lib/src/apps/testapps/testVec2d.c
memgpt_venv/src/h3lib/src/apps/testapps/testVec3d.c
memgpt_venv/src/h3lib/src/apps/testapps/testVertex.c
memgpt_venv/src/h3lib/src/apps/testapps/testVertexGraph.c
memgpt_venv/src/h3lib/src/h3lib/include/algos.h
memgpt_venv/src/h3lib/src/h3lib/include/alloc.h
memgpt_venv/src/h3lib/src/h3lib/include/baseCells.h
memgpt_venv/src/h3lib/src/h3lib/include/bbox.h
memgpt_venv/src/h3lib/src/h3lib/include/constants.h
memgpt_venv/src/h3lib/src/h3lib/include/coordijk.h
memgpt_venv/src/h3lib/src/h3lib/include/faceijk.h
memgpt_venv/src/h3lib/src/h3lib/include/geoCoord.h
memgpt_venv/src/h3lib/src/h3lib/include/h3api.h.in
memgpt_venv/src/h3lib/src/h3lib/include/h3Index.h
memgpt_venv/src/h3lib/src/h3lib/include/h3UniEdge.h
memgpt_venv/src/h3lib/src/h3lib/include/linkedGeo.h
memgpt_venv/src/h3lib/src/h3lib/include/localij.h
memgpt_venv/src/h3lib/src/h3lib/include/mathExtensions.h
memgpt_venv/src/h3lib/src/h3lib/include/polygon.h
memgpt_venv/src/h3lib/src/h3lib/include/polygonAlgos.h
memgpt_venv/src/h3lib/src/h3lib/include/vec2d.h
memgpt_venv/src/h3lib/src/h3lib/include/vec3d.h
memgpt_venv/src/h3lib/src/h3lib/include/vertex.h
memgpt_venv/src/h3lib/src/h3lib/include/vertexGraph.h
memgpt_venv/src/h3lib/VERSION
